.Filter{
    width: 80%;
    margin: 1rem auto;
}

.Filter_box{
    display: flex;
    justify-content: space-between;

}

.Filter_box_left_search {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius:2rem;
    padding-inline:1rem;
    background-color: rgba(0,0,0,0.25);
    color: orange;

}

.Filter_box_left_search input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1rem;
    color: orange;
    width: 20rem;

}
.Filter_box_right {
    display: flex;
    gap: 1rem;

}

.Filter_box_right button{
    background-color: rgba(0,0,0,0.25);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    color: orange;
    border-radius: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .5rem;

}

.Filter_model {
    position: fixed;
    inset: 0 0 0 0;
    background-color: brown;
    z-index: 3;
}